@media(max-width: 1235px) {
	.header-nav__list-item {
		margin-right: 0;
	}
}
@media(max-width: 1160px) {
	.contacts-main {
		justify-content: space-around;
	}
	.contacts-link {
		margin-bottom: 20px;
	}
	.main-inner {
		padding-top: 180px;
	}
	.menu-btn {
		display: block;
	}
	.header-inner {
		justify-content: center;
	}
	.header-nav {
		margin-right: 10px;
	}
	.header-nav__list{
		display: none;
	}
}

@media(min-width: 1150px) {
}

@media(max-width: 930px) {
	.main-descr__paragraph {
		font-size: 16px;
	}
	.main-inner {
    padding: 200px 40px 30px;
	}
}

@media(max-width: 630px) {
	.header-contacts__tel {
    margin-right: 10px;
	}
}
@media (max-width: 615px) {
	.header-inner {
		flex-direction: column;
	}
	.header-nav__list {
		&.active {
			transform: translateX(-135px) translateY(35px);
		}
	}
	.answers-title {
		font-size: 26px;
	}
	.answers-accordion__item-text {
		font-size: 14px;
	}
	.answers-inner {
		padding: 30px 0;
	}
}

@media(max-width: 570px) {
	.benefits-title {
    font-size: 26px;
    text-align: center;
    padding-bottom: 35px;
	}
}

@media(max-width: 530px) {
	.benefits-item {
    height: 200px;
    width: 270px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
	}
	.main-descr__paragraph {
		font-size: 12px;
	}
	.main-inner {
    padding: 200px 10px 30px;
	}
}

@media(max-width: 440px){
	.benefits-inner {
    padding: 20px 0px;
	}
}

@media(max-width: 400px) {
	.contacts-link {
		width: 270px;
		font-size: 18px;
	}
	.header-nav {
		display: flex;
		justify-content: center;
	}
	.header-nav__list {
		&.active {
			width: 300px;
			transform: translateX(0px) translateY(80px);
		}
	}
	.header-inner {
		align-items: unset;
	}
	.container {
		padding: 0 5px;
	}
}
